body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
}

.app-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
}
.input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

.search {
  background-color: #1b63ce;
  width: 100px; 
  height: 30px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: white;
 
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 220px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  /* color: #c6c6c6; */
}
h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255,255,255,0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 10%;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #3c7bda;
  
}
.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0, -50%);
  border: 5px solid #444;
  background-color: #1b63ce;



}
.child {
  display: inline-block;
  width: 300px;
  padding: 1rem 1rem;
  margin-top: 50px;
  margin-right: 10px;
  vertical-align: middle;
  height: 500px;

}

.img{
  width: 400px;
  height: 400px
}
.link{
  background-color: blue;
  color: white;
  position: absolute;
  right: 15%;
  top: 5%;
  width: 100px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  border-radius: 5px;
  padding: auto;


}
.home{
  background-color: blue;
  color: white;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 100px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  border-radius: 5px;
  padding: auto;
}
.link2{
  background-color: blue;
  color: white;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 100px;
  text-align: center;
  text-decoration: none;
  height: 30px;
  border-radius: 5px;
  padding: auto;
}
.filter {
  width: 200px;
  text-align: center;
  border: 1px solid black ;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px
}
.btn{
  margin-top: 15px;
  height:30px;
  border-radius: 10px;
  background-color: #1b63ce;
  color: white;
  font-size: medium;
  font-style: oblique;


}